<div class="container">
  <div class="row my-3">
    <a routerLink="/mcoicop"> &larr; Back to MCOICOP Data</a>
  </div>
  
  <div class="row text-center mb-4">
    <h2>MSIC Data</h2>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th class="w-25">Section Code</th>
              <th>Description</th>
              <th class="w-25">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of msicData">
              <td>
                <span class="badge bg-secondary">{{ item.section }}</span>
              </td>
              <td class="align-middle">{{ item.desc_en }}</td>
              <td>
                <button class="btn btn-sm btn-outline-secondary me-2">
                  <i class="bi bi-info-circle"></i> Details
                </button>
                <button class="btn btn-sm btn-outline-primary me-2">
                  <i class="bi bi-download"></i> Export
                </button>
                <button class="btn btn-sm btn-outline-danger">
                  <i class="bi bi-download"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>